each val in data
    // product-item
    div(class="col-xs-6 col-sm-4 col-lg-3")
        article(class="movie-tv-box")
            div(class="movie-tv-overlay")
                div(class="movie-tv-preview")
                    a(href="/preview/tv/"+val.id) Read More..
                img(src="/assets/images/shadow.png" class="movie-tv-shadow")
                div(class="movie-tv-info")
                    h2(class="movie-tv-title")=val.name
                        span(class="movie-tv-year mvyear" data-year=val.first_air_date)
                    span(class="movie-tv-rate")
                        i(class="fa fa-star")
                        span()=val.vote_average
                            small  /10

            div(class="info" style="display:none")
                span(class="add-favorite")
                    a(href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list")
                        i(class="icon icon-heart")
                span
                    a(href="preview/tv/"+val.id class="mfp-open" data-title="Preview")
                        i(class="icon icon-eye")

            div(class="figure-grid")
                span(class="label label-danger" style="display:none")='Rate:  '+val.vote_average
                div(class="image")
                    a(href="/preview/tv/"+val.id class="mfp-open")
                        div(class="movie-poster" style='background-image:url('+'https://www.themoviedb.org/t/p/w500'+val.poster_path+')')
                        //img(src="https://www.themoviedb.org/t/p/w500"+val.poster_path alt="" width="360")

                div(class="text" style="display:none")
                    h2(class="title h4")
                        a(href="/preview/tv/"+val.id)=val.name

                    sup(class="mvyear" data-year=val.first_air_date)    
                    span(class="description clearfix")=val.overview


script(src="/js/jquery.min.js")
script.
    $('.mvyear').each(function(){
        var year = $(this).attr('data-year');
        year = getYearFromDate(year);
        $(this).html(year);
    });

    function getYearFromDate (date)
    {
        var date = date;
        var arr1 = date.split('-');

        return arr1[0];
    }
